@import "variables/colors";

html,
body {
    height:100%;
}

body {
    background: #003264;
}

.container {
    background: @white;
}

img {
	width: 100%;
}

/* tables */
table {
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid @darkgray;
}

th, td {
    padding: 3px 10px;
}

/* tiles */
.tile {
    margin-bottom: 20px;

    .art {
        img {
            width: 100%;
        }
    }

    .cap {
        padding: 5px 10px;
        font-size: 18px;
    }

    .info {
        padding: 10px;
        border-top: 1px solid #ccc;
    }
}
