{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h3>NLTK</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="tile">
                <div class="art">
                    <a href="{{ url_for('inaugural') }}"><img src="/static/images/placeholder.jpg" /></a>
                </div>
                <div class="cap">
                    <a href="{{ url_for('inaugural') }}">Inaugural Adresses</a>
                </div>
                <div class="info">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus auctor auctor malesuada. Aliquam erat volutpat. Ut at lectus eget quam eleifend viverra. Nullam tristique facilisis ante, a tincidunt neque ullamcorper quis. Suspendisse tempor egestas placerat. Morbi nunc mi, condimentum eu scelerisque sed, iaculis at lacus.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="tile">
                <div class="art">
                    <a href="{{ url_for('gutenberg') }}"><img src="/static/images/placeholder.jpg" /></a>
                </div>
                <div class="cap">
                    <a href="{{ url_for('gutenberg') }}">Gutenberg</a>
                </div>
                <div class="info">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus auctor auctor malesuada. Aliquam erat volutpat. Ut at lectus eget quam eleifend viverra. Nullam tristique facilisis ante, a tincidunt neque ullamcorper quis. Suspendisse tempor egestas placerat. Morbi nunc mi, condimentum eu scelerisque sed, iaculis at lacus.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="tile">
                <div class="art">
                    <a href="{{ url_for('brown') }}"><img src="/static/images/placeholder.jpg" /></a>
                </div>
                <div class="cap">
                    <a href="{{ url_for('brown') }}">Brown</a>
                </div>
                <div class="info">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus auctor auctor malesuada. Aliquam erat volutpat. Ut at lectus eget quam eleifend viverra. Nullam tristique facilisis ante, a tincidunt neque ullamcorper quis. Suspendisse tempor egestas placerat. Morbi nunc mi, condimentum eu scelerisque sed, iaculis at lacus.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="tile">
                <div class="art">
                    <a href="{{ url_for('reuters') }}"><img src="/static/images/placeholder.jpg" /></a>
                </div>
                <div class="cap">
                    <a href="{{ url_for('reuters') }}">Reuters</a>
                </div>
                <div class="info">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus auctor auctor malesuada. Aliquam erat volutpat. Ut at lectus eget quam eleifend viverra. Nullam tristique facilisis ante, a tincidunt neque ullamcorper quis. Suspendisse tempor egestas placerat. Morbi nunc mi, condimentum eu scelerisque sed, iaculis at lacus.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="tile">
                <div class="art">
                    <a href="{{ url_for('webtext') }}"><img src="/static/images/placeholder.jpg" /></a>
                </div>
                <div class="cap">
                    <a href="{{ url_for('webtext') }}">Webtext</a>
                </div>
                <div class="info">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus auctor auctor malesuada. Aliquam erat volutpat. Ut at lectus eget quam eleifend viverra. Nullam tristique facilisis ante, a tincidunt neque ullamcorper quis. Suspendisse tempor egestas placerat. Morbi nunc mi, condimentum eu scelerisque sed, iaculis at lacus.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
