{% extends "base.html" %}

{% block content %}
    <div class="col-md-12">
        <h4>Web Text &amp; Chat</h4>
        <p>Although Project Gutenberg contains thousands of books, it represents established literature. It is important to consider less formal language as well. NLTK's small collection of web text includes content from a Firefox discussion forum, conversations overheard in New York, the movie script of Pirates of the Carribean, personal advertisements, and wine reviews:</p>

        <h5>Web Text File IDs</h5>
        <ul class="list-unstyled">
            {% for file in file_ids %}
                <li>{{ file }}</li>
            {% endfor %}
        </ul>

        <h5>Chat File IDs</h5>
        <ul class="list-unstyled">
            {% for file in chat_file_ids %}
                <li>{{ file }}</li>
            {% endfor %}
        </ul>

        
        
        {#
        <h5>Pirates</h5>
        <p>{{ pirates }}</p>
        #}

    </div>
{% endblock content %}
